.loaderMainLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-page);
  transition: background-color 0.3s ease;
}

html[data-theme="dark"] .loaderMainLayout {
  background-color: var(--bg-page);
}
